@media screen {
  .notFound {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 20px;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
  }


  .notFound h1 {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .notFoundBtn{
    cursor: pointer;
    padding: 14px 50px;
    border-radius: 12px;
    text-transform: capitalize;
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    background-color: var(--background-color);
  }

  .notFoundBtn:hover {
    background-color: var(--secondary-color);
  }
  }

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {

}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
